# Created by .ignore support plugin (hsz.mobi)
### Eclipse template
.settings
.idea/
out
*.iml
.classpath

intellij-workspace/.metadata
intellij-workspace/bin/
intellij-workspace/tmp/
intellij-workspace/*.tmp
intellij-workspace/*.bak
intellij-workspace/*.swp
intellij-workspace/*~.nib
intellij-workspace/local.properties
intellij-workspace/.settings/
intellij-workspace/.loadpath
intellij-workspace/.recommenders

# Eclipse Core
intellij-workspace/.project

# External tool builders
intellij-workspace/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
intellij-workspace/*.launch

# PyDev specific (Python IDE for Eclipse)
intellij-workspace/*.pydevproject

# CDT-specific (C/C++ Development Tooling)
intellij-workspace/.cproject

# JDT-specific (Eclipse Java Development Tools)
intellij-workspace/.classpath

# Java annotation processor (APT)
intellij-workspace/.factorypath

# PDT-specific (PHP Development Tools)
intellij-workspace/.buildpath

# sbteclipse plugin
intellij-workspace/.target

# Tern plugin
intellij-workspace/.tern-project

# TeXlipse plugin
intellij-workspace/.texlipse

# STS (Spring Tool Suite)
intellij-workspace/.springBeans

# Code Recommenders
intellij-workspace/.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
intellij-workspace/.cache-main
intellij-workspace/.scala_dependencies
intellij-workspace/.worksheet
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
intellij-workspace/.idea/**/workspace.xml
intellij-workspace/.idea/**/tasks.xml
intellij-workspace/.idea/dictionaries

# Sensitive or high-churn files:
intellij-workspace/.idea/**/dataSources/
intellij-workspace/.idea/**/dataSources.ids
intellij-workspace/.idea/**/dataSources.xml
intellij-workspace/.idea/**/dataSources.local.xml
intellij-workspace/.idea/**/sqlDataSources.xml
intellij-workspace/.idea/**/dynamic.xml
intellij-workspace/.idea/**/uiDesigner.xml

# Gradle:
intellij-workspace/.idea/**/gradle.xml
intellij-workspace/.idea/**/libraries

# Mongo Explorer plugin:
intellij-workspace/.idea/**/mongoSettings.xml

## File-based project format:
intellij-workspace/*.iws

## Plugin-specific files:

# IntelliJ
intellij-workspace/out/

# mpeltonen/sbt-idea plugin
intellij-workspace/.idea_modules/

# JIRA plugin
intellij-workspace/atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
intellij-workspace/com_crashlytics_export_strings.xml
intellij-workspace/crashlytics.properties
intellij-workspace/crashlytics-build.properties
intellij-workspace/fabric.properties

intellij-workspace/.idea/


intellij-workspace/target/

intellij-workspace/**/*.iml
